
@model IEnumerable<Clenka.Benelvis.BackendRsvp.DTOs.RsvpEntityDto>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Ben Weds Elvis - RSVP Management</h2>

<p>
    <a href="https://www.benwedselvis.com" target="_blank">Go to wedding website</a><br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Attending
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>

            <th>
               Email sent?
            </th>
            <th>
                Last updated
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title) @Html.DisplayFor(modelItem => item.Fname) @Html.DisplayFor(modelItem => item.Lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attendance)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Seat)
                </td>
                <td>
                    @if (item.EmailSent)
                    {
                        <span style="color:green">Yes</span>
                    }
                    else
                    {
                        <span style="color:red">No</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated) GMT
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RowKey">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RowKey">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RowKey">Delete</a> |
                    @if (item.Seat > 0)
                    {
                        <a asp-action="GenerateInvitation" asp-route-id="@item.RowKey" target="_blank">Generate PDF</a>

                        <span> | </span>

                        <a asp-action="Preview" asp-route-id="@item.RowKey" target="_blank">Preview</a><span> | </span>
                    
                        <a asp-action="SendInvitation" asp-route-id = "@item.RowKey"> Send Response </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

